body{
    width: 100%;
    background-color:#bc690b;
    display: flex;
    justify-content: center;
}


.son{
    width: 460px;
    display: flex;
    flex-basis: 40px;
    
    justify-content: center;
    
}



.mom{
    width: 80%;
    display: flex;
    flex-basis: 20px;
    background-color:darkblue;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    margin: 70px 10px 30px 50px; 
    


}
.door{
    background-color: rgb(194, 123, 30);
    display:grid;
    justify-content: center;
    width: 360px;
    padding-top: 4vh;
}
    
    

#de-mo{
    
    width: 260px;
    height: 5vh;
    
   
    
}
#pad1{
    
    padding-bottom: 50px;
}
#color{
    background-color: burlywood;
    padding-top: 20px;
    padding-bottom: 20px;
}
#color2{
    background-color: rgb(236, 145, 10);
    padding-top: 20px;
    padding-bottom: 20px;
}
#color3{
    background-color: #955308;
    
    padding-bottom: 30px;
}
#color4{
    background-color: rgb(249, 148, 76);
    padding-top: 30px;
    padding-bottom: 40px;
}
#color5{
    background-color: #fbc689;
    padding-top: 30px;
    padding-bottom: 50px;
}
#button-id{
    width: 50px;
}
#button-ids{
    width: 158px;
}
#bu-tton{
    width: 80px;
    height: 5vh;
}
#but-ton{
    height: 6vh;
}
#grid4{
    width: 360px;
    display: grid;
    justify-content: center;
}
#g{
    display: grid;
    width: 360px;
    justify-content: center;
}
.grid{
    display: grid;
    justify-content: center;

}
.grid2{
    width: 360px;
    
    
    
}
.grid3{
    display: grid;
    justify-content: center;
    
}
.red{
    color: aqua;
}
.blue{
    color: black;
}


#v-an{
    color: black;
}
#pad1:hover{
    transition: background-color 0.3s;
    transform: scale(0.9);
    background-color:rgb(194, 123, 30);
    color: rgb(4, 46, 84);
}
#color:hover{

transition: background-color 0.3s;
    transform: scale(0.9);
    
    color:rgb(75, 4, 4);
}
#color2:hover{
    transition: background-color 0.3s;
    transform: scale(0.9);
    
    color: rgb(131, 8, 121);
}
#color3:hover{
    transition: background-color 0.3s;
    transform: scale(0.9);
    
    color: rgb(90, 8, 24);
}
#color4:hover{
    transition: background-color 0.3s;
    transform: scale(0.9);
    
    color: rgb(54, 16, 142);
}
#color5:hover{
    transition: background-color 0.3s;
    transform: scale(0.9);
    
    color: rgb(120, 2, 2);
} 
.bb{
    width: 80px;
    height: 5vh;
    margin-left: 142px;
}