body{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}


.son{
    width: 460px;
    display: flex;
    flex-basis: 40px;
    background-color:brown;
    justify-content: center;
    
}



.mom{
    width: 80%;
    display: flex;
    flex-basis: 20px;
    background-color:darkblue;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    margin: 70px 10px 30px 50px; 
    


}
.door{
    background-color: rgb(194, 123, 30);
    display:grid;
    justify-content: center;
    width: 460px;
    padding-top: 4vh;
}
    
    

#de-mo{
    
    width: 300px;
    height: 5vh;
    
   
    
}
#g{
    display: grid;
    width: 360px;
    justify-content: center;
}
.grid{
    display: grid;
    justify-content: center;

}
.grid2{
    width: 360px;
    
    
    
}
.grid3{
    display: grid;
    justify-content: center;
    
}
.red{
    color: aqua;
}
.blue{
    color: black;
}


#v-an{
    color: black;
}